$def with(result)
<html>
	<head>
		<title>Face Recognizer
        
        </title>
	</head>
	<body>
		<h1>
			<a href="http://127.0.0.1:8080/">Face Trainer</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            <a href="http://127.0.0.1:8080/rec">Face Recognizer</a></h1>
		<p>
			This simple web app utilizes OpenCV framework to analyze and recognize faces. 
            In order for a face to be recognized the model needs to be trained. 
            To train the model submit an image of a face and type a name. 
            The more different images submited (i.e different facial expressions) the more accurate the model is at recognizing a face. 
            To recognize a face upload a different image from the ones used to train the model and the app will give the results.</p>


            
            <form method="POST" enctype="multipart/form-data" action="">
            <label for="recognizefile">Recognizing File: </label>
            <input type="file" name="recognizefile" required />
            <br/>
            <input type="submit" value="Recognize"/>
            </form>
            
            <p>$result</p>

    </body>
</html>